@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Rubik:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1D1D1D;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

.title {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    margin-top: 2vw;
    font-size: 2em;
    color: #2722FF;
    text-shadow: 0 0 20px #2722FF;

}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.field-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
    align-items: flex-start; 
}

.plain-text, .key-text, .result-text {
    width: 50vw;
    resize: vertical;
    min-height: 6vw;
    border: 1px solid #ccc;
    border-radius: 4px; 
    padding: 10px;
    margin-top: 0.5vw;
    background-color: #020072;
    color: #FFFFFF;
    text-shadow: 0 0 5px #020072;
    box-shadow: 0 0 15px #020072;
    font-family: 'Roboto Mono', sans-serif;
}

.label-container {
    width: 8vw;
    font-weight: 700; 
}

.input-container, .output-container {
    margin-left: 5vw;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-left: 13vw;
}

button, .download-button {
    padding: 1vw 2vw;
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif; 
    font-size: 1em;
    transition: all 0.3s ease;
    border: none;
    border-radius: 25px;
    background-color: #2722FF;
    color: #FFFFFF;
    text-shadow: 0 0 5px #2722FF;
    box-shadow: 0 0 15px #2722FF;
}

.download-button {
    text-decoration: none;
    display: flex;
}

button:hover, button:focus {
    background-color: #6c6aff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.download-button:hover, .download-button:focus {
    background-color: #6c6aff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

select {
    font-family: 'Roboto Mono', sans-serif; 
    background-color: #2722FF;
    color: #FFFFFF
}